version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "06:00"
      timezone: "UTC"
    reviewers:
      - "justSmK"
    labels:
      - "dependencies"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "deps"
      include: "scope"
